<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Prank.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <userSettings>
    <Prank.Properties.Settings>
      <setting name="Color" serializeAs="String">
        <value>ButtonHighlight</value>
      </setting>
      <setting name="Transparency" serializeAs="String">
        <value>99</value>
      </setting>
      <setting name="PreferenceShortcut" serializeAs="String">
        <value>Ctrl+Shift+P</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="LockShortcut" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="UnlockShortcut" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="LockScreenText" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableLockScreenText" serializeAs="String">
        <value>False</value>
      </setting>
    </Prank.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
</configuration>
